.footer__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__menu {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .footer__menu {
        gap: 32px;
    }
}
