.footer__link {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 0.6;
}