.cover {
    max-width: 1184px;
    min-height: 740px;
    padding: 0;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    } 
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
        margin: 90px 0 0 0;
    } 
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 100%;
        min-height: 200px;
        margin: 66px 0 0 0;
    } 
}