.place__link {
    max-width: 456px;
    grid-area: website;
    margin: 0;
    padding: 82px 0 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration: underline;
    color: #fff;
    transition: opacity 1s linear;
    align-self: flex-end;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__link {
        max-width: 352px;
        padding: 70px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        max-width: 288px;
        padding: 24px 0 0 16px;
    }
}