.place__website_link {
    max-width: 456px;
    grid-area: website;
    margin: 0;
    padding: 130px 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration: underline;
    color: #fff;
    transition: opacity 0.5s linear;
}

.place__website_link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .place__website_link {
        max-width: 352px;
        padding: 70px 0 0 0;
    }
}

@media screen and (max-width: 560px) {
    .place__website_link {
        padding: 24px 0 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__website_link {
        max-width: 288px;
        padding: 24px 0 0 16px;
    }
}