.footer {
    margin: 0 auto 0;
    padding-top: 92px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 630px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 464px) {
    .footer {
        max-width: 200px;
        padding: 64px 0 0 16px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
        padding: 64px 0 0 16px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}