.intro__title {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 54px;
    line-height: 0.9;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
    }
}